@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-sass-base/all_mixins";
@import "./node_modules/drowl-sass-base/all_foundation_mixins";

/* =============================================================================== */
/* ==================================== Dashboard ================================ */
/* =============================================================================== */

.drowl-admin-cockpit {
  // Add formatter to show the node add links in columns
  .local-actions--auto-columns {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    .button {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  /* Quickfix: hide buggy views table sticky header (core) */
  table.sticky-header {
    display: none !important;
  }
  // Fix Layout
  .layout-row {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
  }
  .layout-column {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  @media screen and (min-width: 38em) {
    .layout-column--one-third {
      width: 33.333%;
    }
    .layout-column--two-third {
      width: 66.666%;
    }
  }
  // Blocks
  .block {
    border: 1px solid var(--gin-bg-layer, #fff);
    background: var(--gin-bg-layer, #fff);
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.25);
    .gin--dark-mode & {
      box-shadow: 0 6px 16px var(--gin-border-color-layer);
    }
    > h2 {
      &:first-of-type {
        border-bottom: 1px solid var(--gin-border-color-secondary, #eee);
        margin: 0 0 0.5em;
        padding: 0 0 0.5em;
        font-size: 1rem;
        color: var(--gin-color-title, inherit);
        font-weight: var(--gin-font-weight-bold, bold);
      }
      &:first-of-type::before {
        /* Fontawesome default definition (does nothing without icon is set via content attribute)*/
        display: inline-block;
        font: normal normal normal 14px/1 $admin-iconfont-family;
        font-size: inherit;
        margin-right: 4px;
        color: var(--gin-color-info, #0084d7);
      }
    }
    .item-list > ul {
      margin-left: 0;
    }
  }
  // Menus
  .menu {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin: 0;
      a {
        display: block;
        padding: 8px;
        border-bottom: 1px solid var(--gin-border-color-secondary, #eee);
      }
      &:last-child a {
        border-bottom: 0;
      }
    }
  }
  // Named Blocks
  // => Menu Blocks
  .block-menu > h2::before {
    content: $drowl-admin-ico-menu;
  }
  // => User Block
  .view-drowl-admin-dashboard-user-profile-display {
    --user-image-size: 80px;
    --gutter: 20px;
    padding-left: calc(var(--user-image-size) + var(--gutter));
    overflow: hidden;
    .gin-layer-wrapper {
      border: 0 none !important;
      border-radius: 0 !important;
      padding: 0.5em 0 !important;
      box-shadow: none !important;
    }
    .views-field-user-picture {
      margin-left: calc((var(--user-image-size) + var(--gutter) - 2px) * -1);
      width: var(--user-image-size);
      height: var(--user-image-size);
      border-radius: 50%;
      overflow: hidden;
      float: left;
      border: 1px solid var(--gin-border-color, #eee);
      img {
        object-fit: cover;
        object-position: center;
      }
    }
    .views-field-name,
    .views-field-mail {
      display: inline;
      margin-right: 0.25em;
    }
    .views-field-access {
      display: block;
      margin-bottom: 1em;
    }
    .views-field-edit-user-1,
    .views-field-edit-user,
    .views-field-nothing {
      display: block;
    }
    .views-field-edit-user-1,
    .views-field-edit-user,
    .field-user-logout {
      &:not(:last-child) {
        margin-bottom: 0.5em;
      }
      .field-content {
        display: flex;
        gap: 0.25em;
        align-items: center;
        line-height: 1;
        &::before {
          display: inline-block;
          font: normal normal normal 14px/1 $admin-iconfont-family;
          width: 1em;
          text-decoration: none;
          color: var(--gin-color-title, inherit);
        }
      }
    }
    .views-field-edit-user-1 .field-content::before {
      content: $drowl-admin-ico-pen;
    }
    .views-field-edit-user .field-content::before {
      content: $drowl-admin-ico-key;
    }
    .field-user-logout .field-content::before {
      content: $drowl-admin-ico-exit;
    }
  }

  // => Admin Quicklinks
  .block-menu-blockadmin-quicklinks > h2::before {
    content: $drowl-admin-ico-bookmark;
  }
  // => Manage Content
  .block-views-blockdrowl-admin-dashboard-content-drowl-admin-dashboard-content-block
    > h2::before {
    content: $drowl-admin-ico-archive;
    transform: rotate(90deg);
  }
  // => User
  .block-views-blockdrowl-admin-dashboard-user-profile-display-drowl-admin-dashboard-user-profile-display-block
    > h2::before {
    content: $drowl-admin-ico-user;
  }

  /* -- Scheduled Contents */
  // TODO: Currently broken - remove?
  .block-views-blockscheduler-scheduled-content-block-1 > h2::before {
    content: $drowl-admin-ico-clock;
  }

  /* -- User Lists */
  .block-views-blockwho-s-online-who-s-online-block > h2::before,
  .block-views-blockuser-admin-people-block-1 > h2::before {
    content: $drowl-admin-ico-users;
  }

  /* -- Change user / masquerade */
  .block-devel-switch-user > h2::before {
    content: $drowl-admin-ico-redo;
  }

  /* -- Search */
  .block-search-api-page {
    display: flex;
    align-items: center;
    &::before {
      content: $drowl-admin-ico-search;
      display: inline-block;
      font: normal normal normal 1em/1 $admin-iconfont-family;
      color: var(--gin-color-info, #0084d7);
      margin-right: 10px;
    }
    > h2 {
      display: none;
    }
  }
  .search-api-page-block-form {
    display: flex;
    align-items: center;
    .form-type--search {
      flex: 1 1 80%;
    }
    .form-actions {
      flex: 1 1 20%;
      margin-left: 3px;
    }
    input {
      width: 100%;
    }
  }
}
