{{ attach_library('drowl_admin_dashboard/admin_dashboard') }}

<div id="drowl-admin-cockpit" class="drowl-admin-cockpit">
  <div class="drowl-admin-cockpit__top">
    {{ content.top }}
  </div>
  <div class="layout-row clearfix">
    <div class="layout-column layout-column--two-third drowl-admin-cockpit__left">
      <div class="drowl-admin-cockpit__left-top">
        {{ content.left_top }}
      </div>
      <div class="drowl-admin-cockpit__left-middle">
        {{ content.left_middle }}
      </div>
      <div class="drowl-admin-cockpit__left-bottom">
        {{ content.left_bottom }}
      </div>
    </div>
    <div class="layout-column layout-column--one-third drowl-admin-cockpit__right">
      <div class="drowl-admin-cockpit__right-top">
        {{ content.right_top }}
      </div>
      <div class="drowl-admin-cockpit__right-middle">
        {{ content.right_middle }}
      </div>
      <div class="drowl-admin-cockpit__right-bottom">
        {{ content.right_bottom }}
      </div>
    </div>
  </div>
  <div class="drowl-admin-cockpit__bottom">
    {{ content.bottom }}
  </div>
</div>
